/* Responsive Styles */
  @media screen and (max-width: 767px) {

    #main{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: white;

        img{
            width: 100%;
            height: auto;
        }

        .chkBox{
            display: none;
        }

        #background{
            position: absolute;
            background: url(../assets/images/fondo.png) center no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            justify-content: center;
            display: flex;
        }

        #draw{
            position: relative;
            z-index: 2;

            .drawPiece{
                position: fixed;
            }

            #bird{
                z-index: 2;
                width: 12%;
                top: 19%;
                left: 20%;

                .cls-1{fill:#fff; transition: all 0.5s ease;}
                .cls-2{fill:#fff; transition: all 0.5s ease;}
                .cls-3{fill:#fff; transition: all 0.5s ease;}
                .cls-4{fill:#fff; transition: all 0.5s ease;}

                .cls-1.color{fill:#40c0c3;}
                .cls-2.color{fill:#76beea;}
                .cls-3.color{fill:#3087c8;}
                .cls-4.color{fill:#fcb02b;}
            }
 
            #bird input[type="checkbox"]:checked + label{
                .cls-1{fill:#40c0c3;}
                .cls-2{fill:#76beea;}
                .cls-3{fill:#3087c8;}
                .cls-4{fill:#fcb02b;}
            }

            #bird #pajaro.color.shake {
                animation: shake1 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
            }

            @keyframes shake1 {
                10%, 90% {
                  transform: translate3d(0, -1px, 0);
                }
                
                20%, 80% {
                  transform: translate3d(0, 20px, 0);
                }
              
                30%, 50%, 70% {
                  transform: translate3d(0, -22px, 0);
                }
              
                40%, 60% {
                  transform: translate3d(0, 22px, 0);
                }
            }


            #treeContent{
                width: 100%;
                top: 18%;

                #tree{
                    width: 100%;
                    height: 211px;
                    background: url(../assets/images/tree_black.svg) center no-repeat;
                    background-size: cover;
                    transition: all 0.5s ease;
                }

                #tree.color{
                    background: url(../assets/images/tree.svg) center no-repeat;
                }
            }

            #treeContent #tree.color.shake {
                animation: shake2 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
            }

            @keyframes shake2 {
                10%, 90% {
                  transform: translate3d(0, -1px, 0);
                }
                
                20%, 80% {
                  transform: translate3d(0, 2px, 0);
                }
              
                30%, 50%, 70% {
                  transform: translate3d(0, -4px, 0);
                }
              
                40%, 60% {
                  transform: translate3d(0, 4px, 0);
                }
            }

            #treeContent input[type="checkbox"]:checked + label{
                #tree{
                    background: url(../assets/images/tree.svg) center no-repeat;
                }
            }

            #cellphone{
                z-index: 2;
                width: 6%;
                bottom: 122px;
                left: 20%;

                .cls-1{fill:#fff; transition: all 0.5s ease;}
                .cls-2{fill:#fff; transition: all 0.5s ease;}

                .cls-1.color{fill:#cdeaff;}
                .cls-2.color{fill:#fff;}
            }

            #cellphone input[type="checkbox"]:checked + label{
                .cls-1{fill:#cdeaff;}
                .cls-2{fill:#fff;}
            }

            #beyli{
                width: 32%;
                bottom: -1%;
                left: 18%;

                .cls-1{fill:#fff;}

                .nop{
                    opacity: 0;
                }

                &:active{
                    .nop{
                        opacity: 1;
                    }
                }
            }

            #gandalf{
                width: 26%;
                bottom: -1%;
                right: 18%;

                .cls-1{fill:#fff; transition: all 0.5s ease;}
                .cls-2,.cls-6{fill:#fff; transition: all 0.5s ease;}
                .cls-3{fill:#fff; transition: all 0.5s ease;}
                .cls-4{fill:#fff; transition: all 0.5s ease;}
                .cls-5{fill:#fff; transition: all 0.5s ease;}
                .cls-6{stroke:#000;stroke-miterlimit:10;stroke-width:15px;}
                .cls-7{fill:#111; transition: all 0.5s ease;}

                .cls-1.color{fill:#fff;}
                .cls-2.color,.cls-6.color{fill:#bc000e;}
                .cls-3.color{fill:#894202;}
                .cls-4.color{fill:#42210b;}
                .cls-5.color{fill:#e8a705;}
                .cls-7.color{fill:#fff;}
            }

            #gandalf input[type="checkbox"]:checked + label{
                .cls-1{fill:#fff;}
                .cls-2,.cls-6{fill:#bc000e;}
                .cls-3{fill:#894202;}
                .cls-4{fill:#42210b;}
                .cls-5{fill:#e8a705;}
                .cls-7{fill:#fff;}
            }
        }

        #playBtn{
            margin: 0px auto;
            width: 23%;
            padding-top: 300px;
            
            svg{
                fill: red;
                border-radius: 50%;
                box-shadow: 0 0 0 rgba(255, 0, 0, 0.5);
                -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite;
            }
        }
    
        @-webkit-keyframes pulse {
            0% {
                -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
            }
            70% {
                -webkit-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
            }
            100% {
                -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            }
        }
        @keyframes pulse {
            0% {
                -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
                box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
            }
            70% {
                -moz-box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
                box-shadow: 0 0 0 15px rgba(255, 0, 05, 0);
            }
            100% {
                -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            }
        }
    
        #phrase{
            position: relative;
            z-index: 2;
            top: 30px;
            text-align: center;

            #initial{
                font-size: 30pt;
                font-weight: bold;
                font-family: sans-serif;
            }

            .secondary{
                display: inline-block;
                overflow: hidden;
                border-right: .10em solid black;
                white-space: nowrap; 
                font-size: 16pt;
                font-weight: bold;
                font-family: sans-serif;
                margin: 0 auto;
                letter-spacing: .1em;
            }

            .secondary.first{
                animation: typing1 3s steps(30, end),
                blink-caret .75s step-end infinite;
            }

            .secondary.second{
                animation: typing2 3s steps(30, end),
                blink-caret .75s step-end infinite;
            }

            /* The typing effect */
            @keyframes typing1 {
                from { width: 0 }
                to { width: 45% }
            }
            @keyframes typing2 {
                from { width: 0 }
                to { width: 69% }
            }
            
            /* The typewriter cursor effect */
            @keyframes blink-caret {
                from, to { border-color: transparent }
                50% { border-color: black; }
            }
        }

        /* leaf animations */

        #leaves {position:relative;top:130px;width:100%;text-align: right; opacity: 0; transition: all 3s;}

        #leaves.appear{
            opacity: 1;
        }

        #leaves i {
            display: inline-block;
            width: 200px;
            height: 150px;
            background: linear-gradient(to bottom right, #e57091, #E891A6);
            transform: skew(20deg);
            border-radius: 5% 40% 70%;
            box-shadow: inset 0px 0px 1px #222;
            border: 1px solid #ffeef4;
            z-index: 1;
            animation: falling 5s 0s infinite;
        }

        #leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
        #leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

        #leaves i:nth-of-type(n)    { height:10px; width:17px; }

        #leaves i:nth-of-type(2n+1)    { height:5px; width:6px; }

        #leaves i:nth-of-type(3n+2)  { height:6px; width:10px; }

        #leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
        #leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
        #leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
        #leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
        #leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
        #leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
        #leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
        #leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
        #leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
        #leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
        #leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
        #leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
        #leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
        #leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
        #leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }
        #leaves i:nth-of-type(16n)   { -webkit-animation-delay: 1.9s;}
        #leaves i:nth-of-type(17n)  { -webkit-animation-delay: 3.9s;}
        #leaves i:nth-of-type(18n)  { -webkit-animation-delay: 2.3s;}
        #leaves i:nth-of-type(19n)  { -webkit-animation-delay: 4.4s;}
        #leaves i:nth-of-type(20n)  { -webkit-animation-delay: 5s;  }

        #leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #e57091, #E891A6); }
        #leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #e57091, #E891A6); }
        #leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #e57091, #E891A6); }

        #leaves i:nth-of-type(n)    { opacity: .7;}
        #leaves i:nth-of-type(3n+1)  { opacity: .5;}
        #leaves i:nth-of-type(3n+2)  { opacity: .3;}

        #leaves i:nth-of-type(n)    {transform: rotate(180deg);}


        #leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

        @-webkit-keyframes falling {
            
            0% {
                -webkit-transform:
                    translate3d(300,0,0)
                    rotate(0deg);
            }
            
            100% {
                -webkit-transform:
                    translate3d(-350px,700px,0)
                    rotate(90deg);
                opacity: 0;
            }
        }

        @-webkit-keyframes falling3 {
            0% {
                -webkit-transform:
                    translate3d(0,0,0)
                    rotate(-20deg);
            }
            
            100% {
                -webkit-transform:
                    translate3d(-230px,640px,0)
                    rotate(-70deg);
                opacity: 0;
            }
        }

        @-webkit-keyframes falling2 {
            0% {
                -webkit-transform:
                    translate3d(0,0,0)
                    rotate(90deg);
            }
            
            100% {
                -webkit-transform:
                    translate3d(-400px,680px,0)
                    rotate(0deg);
                opacity: 0;
            }
        }
    }

    #wrapperHeart.inlove{
        position: fixed;
        z-index: 2;
        width: 32%;
        bottom: 30px;
        left: 18%;
        min-height: 100%;
        overflow: hidden;
        text-align: center;
           
      .x1 {
        left: 5%;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
          transform: scale(0.9);
          opacity: 0.6;
          -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
          -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
      }
      
      .x2 {
          left: 25%;
          -webkit-transform: scale(0.6);
          -moz-transform: scale(0.6);
          transform: scale(0.6);
          opacity: 0.9;
          -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
          -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
      }
      .x3 {
          left: 55%;
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          transform: scale(0.8);
          opacity: 0.8;
          -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
          -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
      }
      .x4 {
          left: 72%;
          -webkit-transform: scale(0.75);
          -moz-transform: scale(0.75);
          transform: scale(0.75);
          opacity: 0.9;
          -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
          -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
      }
      .x5 {
          left: 88%;
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          transform: scale(0.8);
          opacity: 0.3; 
          -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
          -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
      }
      .x6 {
          left: 33%;
          opacity: 1; 
          -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
          animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes moveclouds { 
          0% { 
              top: 100px;
          }
          100% { 
              top: -100px;
          }
      }
      
      @keyframes moveclouds {     
          0% { 
              top: 500px;
          }
          100% { 
              top: -500px;
          }
      }
      
      @-webkit-keyframes sideWays { 
          0% { 
              margin-left:0px;
          }
          100% { 
              margin-left:50px;
          }
      }
      
      @keyframes sideWays {
        0% {
            margin-left:0px;
        }
        100% {
            margin-left:50px;
        }
      }
      
      @keyframes swayWays {
        0% {
          transform: rotate(12deg);
          left:-0.3%;
        }
        33%{
          transform: rotate(-2deg);
          left: 0.7%;
        }
        100% {
          transform: rotate(0deg);
          left:-12%;
        }
      }
      
      /* //  HEART CODE */
      .altheart {
        background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
        width: 20px;
        height: 17px;
        position: relative;
        display: block;
      }
      
      .heart {
          position: relative;
      }
      .heart:before,
      .heart:after {
          position: absolute;
          content: "";
          left: 16px;
          top: 0;
          width: 16px;
          height: 26px;
          background: #CC2022;
          -moz-border-radius: 20px 50% 0 0;
          border-radius: 30px 30px 0 0;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          -webkit-transform-origin: 0 100%;
              -ms-transform-origin: 0 100%;
                  transform-origin: 0 100%;
      }
      .heart:after {
          left: 0;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          -webkit-transform-origin: 100% 100%;
              -ms-transform-origin: 100% 100%;
                  transform-origin :100% 100%;
      }

    }

  }
